<phpunit colors="true"
         bootstrap="E:\xampp\htdocs\apartment\laravel\cli\tasks\test\phpunit.php"
         backupGlobals="false">
	<testsuites>
		<testsuite name="Test Suite">
			<directory suffix=".test.php">E:\xampp\htdocs\apartment\application\tests</directory>
		</testsuite>
	</testsuites>
</phpunit>